.list-group {
  $this-list: &;

  display: block;
  background-color: var(--color-surface);

  &__item {
    display: flex;
    padding-block: 0.25rem;
    padding-inline: 0.25rem;
    border-block-end: 1px solid var(--color-border);
  }

  &__title {
    font-weight: 600;
  }

  &__desc {
    color: var(--color-text-weaker);
    font-weight: 400;
  }

  &__btn {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: flex-start;
    min-inline-size: 0;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: var(--border-radius);
    text-align: start;
    cursor: pointer;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px var(--color-accent);
    }

    &:active {
      opacity: 0.8;
    }

    &:hover {
      background-color: var(--color-accent);
      color: var(--color-text-light);

      #{$this-list}__desc {
        @media (prefers-color-scheme: dark) {
          color: var(--color-text-weak);
        }

        @media (prefers-color-scheme: light) {
          color: var(--color-text-weakest);
        }
      }
    }
  }
}
