# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

packages/*/LICENSE
packages/*/README.md

# Ignore build cache directories
dist/
!packages/core/dist/
docs/*
!docs/.gitkeep
