@use 'sass:string';

/// Generate font-face declaration.
/// @param {string} $font-name - The font family name.
/// @param {string} $file-name - The font file name (without .woff2 extension).
/// @param {string} $weight - The font weight.
/// @param {string} $style - The font style.
/// @return {string} - The generated font-face declaration.
@mixin font-face(
    $font-name: null,
    $file-name: null,
    $weight: normal,
    $style: normal,
    $display: swap
  ) {
  @font-face {
    font-family: string.quote($font-name);
    font-style: $style;
    font-weight: $weight;
    font-display: $display;
    src:
      local(string.quote($font-name)),
      url($file-name + ".woff2") format('woff2');
    unicode-range: U+000-5FF;
  }
}

/// Generate font-face fallback declaration.
/// @param {string} $fallback-name - The font family fallback-name.
/// @param {string} $font-name - The font family name.
/// @return {string} - The generated font-face fallback declaration.
@mixin font-fallback(
    $fallback-name: null,
    $font-name: null
  ) {
  @font-face {
    font-family: string.quote($fallback-name);
    src: local(string.quote($font-name));
    unicode-range: U+000-5FF;
  }
}
