// Variables: Default config
$root: (  
  --border-radius: 0.25rem,
  --spacing: 1rem,
  --doc-height: 100%,
  --font-size-base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem),
  
  font-family: (
    "Inter", system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"
  ),
  -webkit-font-smoothing: antialiased,
  -moz-osx-font-smoothing: grayscale,
  font-weight: normal,
  line-height: 1.5,
  text-rendering: optimizelegibility,
  font-synthesis: none,
  font-size: var(--font-size-base),
  text-size-adjust: 100%,
  scrollbar-gutter: stable both-edges,
  color: var(--color-text-base),
  background-color: var(--color-bg),
  height: var(--doc-height),
) !default;
