@use 'sass:color';
@use '../config' as *;
@use '../function' as *;

@mixin generate-button() {
  .btn {
    @extend %component-properties;

    min-width: 2.75em;
    height: 2.75em;
    padding: 0 1em;
    border-style: config($border, 'style');
    border-radius: config($border, 'radius');
    font-size: calc(var(--_scale, 1) * config($type-sizes, 'font-size-base'));
    font-weight: 600;

    > :where(svg, .spinner):not(:only-child) {
      display: inherit;
    }

    > :where(svg, .spinner):first-child:not(:only-child) {
      margin-right: 8px;
      margin-left: -4px;
    }

    > :where(svg, .spinner):last-child:not(:only-child) {
      margin-right: -4px;
      margin-left: 8px;
    }

    &:focus {
      outline-color: transparent;
      outline-style: solid;
    }

    &:active {
      transform: translateY(1px);
      transition: none;
    }

    &:hover {
      @media (hover: hover) {
        @media (prefers-color-scheme: 'light') {
          filter: brightness(110%);
        }

        @media (prefers-color-scheme: 'dark') {
          filter: brightness(90%);
        }
      }
    }

    &[disabled],
    &:disabled,
    &.disabled {
      opacity: 0.6;
      cursor: default;
      pointer-events: none;
    }
  
    &-fw {
      width: 100%;
    }

    &-icon {
      width: 2.75em;
      min-width: unset;
      padding: 0.325em;
    }

    &-float {
      display: inline-flex;
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-color: transparent;
      background: color('info');
      text-align: center;
      cursor: pointer;
    
      &:hover {
        background-color: color.scale(#375bd2, $lightness: 1%);
      }
    }

    &-dropdown {
      &:focus {
        box-shadow: none;
      }
    }
  }
}
