@use '../config' as *;
@use '../function' as *;

@mixin generate-pagination() {
  .pagination {
    --pagination-scale: 1;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: calc(var(--pagination-scale, 1) * 1rem);
    list-style: none;
    gap: 1rem;

    &-sm {
      --pagination-scale: 0.8;

      font-weight: 300;
    }
  
    &-lg {
      --pagination-scale: 1.2;
    }

    &__item {
      width: 2.75em;
      min-width: 2.75em;
      height: 2.75em;
      padding: 0;
      border: 1px solid color('border');
      border-radius: 0.25rem;
      background-color: color('surface');
    
      &.is-active {
        border-color: color('info');
        background-color: color('info');
      }

      &.disabled {
        opacity: 0.6;
        cursor: default;
        pointer-events: none;
      }
    }  
  }
}


.pagination-wrapper {
  display: flex;

  .pagination {
    width: unset;
  }

  &-start {
    justify-content: start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: end;
  }
}
