@use 'sass:map';
@use '../config' as *;
@use '../function' as *;
@use '../mixin' as *;

@mixin generate-tabs {
  .tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    border-block-end: 1px solid color('border');
  
    @include breakpoint('lg', 'max') {
      justify-content: space-evenly;
      gap: 0;
  
      // @include mix-full-width;
  
      padding-bottom: 0;
    }
  }
  
  .tab {
    display: flex;
    align-items: center;
  
    /* flex: 1 1 0px; */
    margin-bottom: -1px;
    padding: 0.8rem 0.5rem;
    border-block-end: 2px solid transparent;
    color: color('text-weak');
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    gap: 0.5rem;
    appearance: none;
  
    svg {
      display: none;
  
      @media (width <= 767px) {
        display: block;
      }
    }
    
    &:focus-visible {
      /* custom focus styles */
      border-radius: 0.25rem;
  
      /* remove default focus style */
      outline: none;
      box-shadow: 0 0 0 4px #cbd6ee;
    }
  
    /* span {
      display: none;
  
      @media (width >= 767px) {
        display: block;
      }
    } */
  
    /* &:first-of-type {
      padding: map.get($tabs, padding-y) 0.5rem map.get($tabs, padding-y) 0;
      text-align: left
    }
  
    &:last-of-type {
      padding: map.get($tabs, padding-y) 0.5rem map.get($tabs, padding-y) 0;
    } */
  
    &:hover {
      color: color('accent');
    }
  
    /* &:focus:not([disabled]) {
      border-radius: var(--border-radius);
      outline-offset: 5px;
      box-shadow: 0 0 0 4px #cbd6ee;
    } */
  
    &.is-active {
      border-bottom-color: color('accent');
      color: color('text-weak');
    }
  }
}

