@use '../config' as *;
@use '../function' as *;
@use '../mixin' as *;

@mixin generate-table {
  .table {
    width: 100%;
    height: 100%;
    white-space: nowrap;

    caption {
      @include margin('bottom');

      font-weight: 600;
      text-align: center;
    }

    th,
    td {
      @include padding('x', 'md');
      @include padding('y', 'sm');

      text-align: left;
    }

    &-bordered {
      th,
      td {
        border: 1px solid color('border');
      }
    }

    &-div {
      thead {
        border-block-end: 2px solid color('border');
      }
    
      :not(tfoot) td {
        border-block-end: 1px solid color('border');
      }
    }

    &-striped {
      tbody tr:nth-child(odd) {
        background-color: color('surface');
      }
    }

    &-hover {
      tbody tr:hover {
        background-color: color('surface-lowered');
      }
    }

    &-responsive {
      overflow-x: auto;
    }

    thead {
      th {
        background-color: color('surface');
        border-block-end: 1px solid color('border');
        color: color('text-weaker');
        font-weight: 600;
      }

      th[id^="action-"] {
        width: 1px;
        white-space: nowrap;
      }
    }

    tbody {
      th {
        font-weight: normal;
      }

      td[id^="action-"] {
        width: 1px;
        white-space: nowrap;
      }

      :not(:last-of-type) td,
      :not(:last-of-type) th {
        border-block-end: 1px solid color('border');
      }
    }
  }
}
