@use '../function' as *;
@use "../mixin" as *;

.timeline {
  &__item {
    display: flex;

    &-meta {
      display: flex;
      z-index: 10;
      flex-direction: column;
      min-height: 70px;
      margin-left: -18px;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      padding-left: 1.75rem;
      border-left: 2px solid color('success');
    }

    &:last-child &-meta:last-child {
      border-color: transparent;
    }
  }

  &__icon {
    display: inline-block;
    z-index: 20;
    width: 2.25rem !important;
    height: 2.25rem !important;
    border: 2px solid color('success');
    border-radius: 9999px;
    background-color: color('bg');
    color: color('text-base');

    &-completed {
      background-color: color('success');
    }
  }

  &__date {
    font-size: type-var('sm');
    font-weight: 600;
  }

  &__label {
    color: color('text-weaker');
    font-size: type-var('sm');
  }
}
