@use '@shrtcss/core/scss/shrtcss' as shrtcss with (
  $settings: (
    'css-custom-properties': true,
  ),
);
@include shrtcss.generate-modules;

/* https://github.com/sass/sass/issues/2842 */
.story-wrapper {
  display: flex;
  gap: 1rem;
  flex: 1;

  &-column {
    flex-direction: column;
  }
}

.wrap {
  flex-wrap: wrap;
}

.example-wrapper {
  display: flex;
  margin-block-end: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  border: 1px solid shrtcss.color('border');
  border-radius: shrtcss.config(shrtcss.$border, 'radius');
  gap: 0.85rem;

  &-column {
    flex-direction: column;
  }
}

code:not([class^="language-"]) {
  margin: 0 .25rem;
  padding: .25rem .5rem;
  border: 1px solid shrtcss.color('border');
  border-radius: .25rem;
  background: shrtcss.color('surface');
  color: inherit;
  font-size: .9rem;
  overflow-wrap: break-word;
}

[data-sl-theme='dark']:where(.storylite-iframe) {
  /* General */
  --storylite-font-color: #dfdfd7;
  --storylite-bg-color: red;
  --storylite-border-color: #29292c;

  /* Muted */
  --storylite-font-color-muted: #999;
  --storylite-border-color-muted: #484848;

  /* Panels */
  --storylite-font-color-panel: #dfdfd7;
  --storylite-bg-color-panel: #161618;

  /* Toolbars */
  --storylite-font-color-toolbar: #999;
  --storylite-bg-color-toolbar: #1e1e20;
}

@media (prefers-color-scheme: dark) {
  [data-sl-theme='auto']:where(.storylite-iframe) {
    /* General */
    --storylite-font-color: #dfdfd7;
    --storylite-bg-color: red;
    --storylite-border-color: #29292c;

    /* Muted */
    --storylite-font-color-muted: #999;
    --storylite-border-color-muted: #484848;

    /* Panels */
    --storylite-font-color-panel: #dfdfd7;
    --storylite-bg-color-panel: #161618;

    /* Toolbars */
    --storylite-font-color-toolbar: #999;
    --storylite-bg-color-toolbar: #1e1e20;
  }
}


/* stylelint-disable-next-line selector-class-pattern */
[data-sl-theme='dark'] .storylite-iframe--standalone {
  background-color: var(--storylite-bg-color);
  color: var(--storylite-font-color);
}

/* stylelint-disable-next-line selector-class-pattern */
.storylite-top-frame, .storylite-story--standalone {
  background: shrtcss.color('bg');
}

/* .storylite-main {
  background: shrtcss.color('bg');
}
 */
