@use 'sass:map';
@use '../../function' as *;
@use '../../mixin' as *;

@mixin generate-form() {
  .form {
    &__group {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;

      @include margin('bottom');
    }

    &__label {
      &-ifta {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 15px;
        color: color('accent');
        font-size: type-var('xs');
        pointer-events: none;
      }
    }

    &__field {
      width: 100%;

      /* margin: 0 0 20px;
      padding: 35px 20px 15px; */
      padding-top: 32px;
      padding-bottom: 10px;
      padding-left: 15px;
    }

    &__helper {
      color: color('text-weaker');
      font-size: type-var('sm');
    }
  }

  %input-element {
    width: 100%;
    border: 1px solid color('border');
    border-radius: 0.25rem;
    background: color('surface');
    color: color('text-base');
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    vertical-align: middle;
    word-spacing: inherit;
    appearance: none;
  }

  input:not([type='hidden'], [type='checkbox'], [type='radio'], [type='button'], [type='submit'], [type='reset'], [type='color'], [type='file'], [type='image'], [type='range']),
  textarea {
    @extend %input-element !optional;

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &[readonly] {
      opacity: 0.8;
    }

    &::placeholder {
      color: color('text-weaker');

      // font-size: 90%;
      font-weight: 300;
    }

    &:focus {
      border: 1px solid color('accent');
      outline: none;
      box-shadow: 4px 4px 10px rgb(0 0 0 / 6%);
      
      &::placeholder {
        color: transparent;
      }
    }

    &:required {
      &:focus {
        &:valid {
          border-color: color('success');
        }
      }
    }
  }

  input:not([type='hidden'], [type='checkbox'], [type='radio'], [type='button'], [type='submit'], [type='reset'], [type='color'], [type='file'], [type='image'], [type='range']):required:focus:invalid {
    border-color: color('danger');
  }

  select:not([multiple], [size]) {
    @extend %input-element !optional;
  
    padding-top: 32px;
    padding-bottom: 10px;
    padding-left: 15px;
  
    // https://codepen.io/chriscoyier/pen/zYYZaGP & https://www.svgrepo.com/svg/80156/down-arrow
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='%239fa8ad' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330 330' style='enable-background:new 0 0 330 330;' xml:space='preserve'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: auto 30%;
    cursor: pointer;
  
    &:-ms-expand {
      display: none;
    }
  
    &:active,
    &:focus {
      border: 1px solid color('accent');
      box-shadow: 4px 4px 10px rgb(0 0 0 / 6%);
    }
  }

  .ifta-field {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 15px;
  }
}
